<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-success">
          Order confirmed
        </div>
        <div class="card-body">
          <div class="card-text">
            Order Id: {{orderId}}
          </div>
          <div class="card-text">
            Thanks for shopping with us.
          </div>
        </div>
        <div class="card-footer">
          <a href="/home" class="btn btn-info">Continue shopping</a>
        </div>
      </div>
    </div>
  </div>
</div>
