<div class="card">
  <div class="card-header">Create new Address</div>
  <div class="card-text">
    <form [formGroup] = "createAddressForm" (ngSubmit) = "create(createAddressForm.value)">
      <div class="form-group-row">
        <label for="street" class="col-sm-6 col-form-label">Street</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="street" formControlName="street" name="street" placeholder="Street">
        </div>
      </div>
      <div class="form-group-row">
        <label for="city" class="col-sm-6 col-form-label">City</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="city" formControlName="city" name="city" placeholder="city">
        </div>
      </div>
      <div class="form-group-row">
        <label for="state" class="col-sm-6 col-form-label">State</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="state" formControlName="state" name="state" placeholder="State">
        </div>
      </div>
      <div class="form-group-row">
        <label for="pincode" class="col-sm-6 col-form-label">Pincode</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" id="pincode" formControlName="pincode" name="pincode" placeholder="pincode">
        </div>
      </div>
      <div class="from-group-row">
        <label for="phone_number" class="col-sm-6 col-form-label">Phone Number</label>
        <div class="col-sm-12">
          <input type="text" class="form-control" formControlName="phone_number" name="phone_number" id="phone_number" placeholder="Phone Number">
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-info">Deliver here</button>
      </div>
    </form>
  </div>
  
</div>